.mainH {
    margin:0px;
    background-color: #BB2525;
    color:antiquewhite;
    font-size:3.0rem;
   
    float: left;
   
}




body {
    margin: 0px;
}



.nav {
    display: flex;
    margin: 0;
    list-style-type: none;
  
    background-color: #BB2525;
    height:3.45rem;
   
}


.nav > li {

 margin-left:15%;
 font-size: 2.5rem;
 color: white;
 
}

a {
    text-decoration:none;
}

.navLinks:link {
    color: white;
  }
  
  
  .navLinks:visited {
    color: white;
  }
  

  .navLinks:hover {
    color: yellow;
  }
  
 
  .navLinks:active {
    color: white;
  }




body {
    background-color:burlywood;
}



.imgPart {

  height: 150px;
  width:250px;
   
  
  
}




.gridItem {
  
    display:inline-flex;
    flex-direction: row;
    margin-top:1%;
   
     width: 15em;
     padding: 2em;
   
   
     
    
  }


  ul {
    list-style-type: none;
}





.eachArticle:link {
  color: white;
}


.eachArticle:visited {
  color: white;
}


.eachArticle:hover {
  color: yellow;
}


.eachArticle:active {
  color: white;
}


.articlesList {
  
  width: 100em;
  margin:auto;
  
}

.articleBox {
  border: 2px solid white;
  background-color: #BB2525;
  height:20em;
  border-radius: 5px;
}


.titlePart {
  font-size: 1.25em;
  text-align: center;
}

.authorPart {
  color:white;
  text-align: right;
  margin-right: 5%;

}

.upvotePart {
  color:white;
  text-align: left;
  margin-left: 2%;
}







































