.mainH {
    margin:0px;
    background-color: brown;
    color:antiquewhite;
    font-size:3rem;
    display: inline-flex;
    float: left;
}




body {
    margin: 0px;
}



.nav {
    display: flex;
    margin: 0;
    list-style-type: none;
    margin-left:0%;
    background-color: brown;
    height:3.45rem;
}


.nav > li {

 margin-left:15%;
 font-size: 2.5rem;
 color: white;
 
}

a {
    text-decoration:none;
}

.navLinks:link {
    color: red;
  }
  
  
  .navLinks:visited {
    color: white;
  }
  

  .navLinks:hover {
    color: yellow;
  }
  
 
  .navLinks:active {
    color: white;
  }




body {
    background-color:burlywood;
}



img {

   height: 250px;
   width:300px;
}


.grid {
row-gap: 50px;;
}

.gridItem {
    display:inline-flex;
    flex-direction: row;
    width:25%}

ul {
    list-style-type: none;
}






























































